.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: clamp(20rem, 35vw, 50rem);
    background-color: var(--color-bg-primary);
    text-align: center;
    z-index: -1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.footer p {
    color: var(--color-text-secondary);
    font-family: heap;
    font-weight: normal;
    font-size: clamp(10rem, 30vw, 69rem);
    line-height: 1;
    position: absolute;
    bottom: clamp(-55%, -13vw, -10%)
}
