@font-face {
  font-family: heap;
  src: local(heavyHeap),
    url("../fonts/heavyHeap.ttf") format("truetype");
}

.shop-container {
    background-color: var(--color-bg-primary);
    margin-bottom: clamp(5rem, 15vw, 50rem);
}

.title-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5vh;
    height: 100vh;
    font-weight: 300;
    color: var(--color-text-primary);
}

.title-container h1 {
    font-family: heap;
    font-size: var(--font-size-heading-large);
    font-weight: 400;
    color: var(--color-text-primary);
    z-index: 2;
    margin-top: 10rem;
    position: relative;
    background: linear-gradient(to bottom, #fff 0%, #fff 50%, #D1D28D 50%, #D1D28D 100%);
    background-size: 100% 200%;
    background-position: 0% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transform: translateY(-50px);
}

.title-container p {
  font-size: var(--font-size-paragraph-small);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  max-width: 200rem;
}

.mask {
  background-color: rgba(0, 0, 0, .3);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.beers-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

.beers-text {
  display: flex;
  align-self: center;
  padding: 0 10vw;
  z-index: 2;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem 1rem;
    padding: 6rem 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    opacity: 0;
    cursor: pointer;
}

.product-image-wrapper {
    overflow: hidden;
    display: flex;
    position: relative;
} 

.product-bg-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    position: static;
}

.product-bottle-image {
  height: 100%;
  position: absolute;
  top: 0;
  left: 18%;
  z-index: 2;
  transition: transform 0.2s ease-out;
}

.product:hover .product-bottle-image {
    transform: scale(1.05);
}

.product h3 {
    font-family: heap;
    font-weight: 400;
    font-size: 3rem;
    color: var(--color-text-secondary);
    word-break: break-word;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.product p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-text-secondary);
    margin-left: 1rem;
}

.product .price,
.product .volume {
  font-family: heap;
  font-weight: 400;
  font-size: 1.2vw;
  color: var(--color-text-secondary);
}

@media only screen and (max-width: 1100px) {
    .shop-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 710px) {
    .shop-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .beers-text {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .title-container h1 {
        font-size: 10rem;
    }
}
