@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: heap;
  src: local(heavyHeap),
    url("../fonts/heavyHeap.ttf") format("truetype");
}

.shop-container {
    background-color: #071111;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: clamp(20rem, 35vw, 50rem);
}

.title-container {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.title-container h1 {
    font-size: clamp(9.6rem, 15vw, 30rem);
    font-family: heap;
    font-weight: 400;
    color: #D1D28D;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    /*padding-bottom: 5rem;*/
}

.product {
    opacity: 0;
    cursor: pointer;
    
}

.product-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.product-image,
.product-image2 {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.product-image {
  z-index: 3;
  opacity: 1;
}

.product-image2 {
  z-index: 1;
  opacity: 0;
}

.product-image-wrapper:hover .product-image2 {
  opacity: 1;
}

.product-image-wrapper:hover .product-image {
  opacity: 0;
}

.product-info {
    position: absolute;
    height: 100%;
    top: 0rem;
    left: 1rem;
    z-index: 2;
}
/*
.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/

.e-l {
    position: absolute;
    bottom: 0;
    left: 0;
}

.product h3 {
    font-family: heap;
    font-weight: 400;
    font-size: 5rem;
    color: #D1D28D;
}

.product p {
    font-family: heap;
    font-weight: 400;
    font-size: 3rem;
    color: #D1D28D;
}

.cone-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 4rem;
    z-index: 4;
}

.cone-icon .cls-1 {
    stroke: #fff;
}

.product-image-wrapper:hover .cone-icon .cls-1 {
    stroke: #D1D28D;
}